@tailwind base;
@tailwind components;
@tailwind utilities;

.vertical-rl {
  writing-mode: vertical-rl;
}

.vertical-lr {
  writing-mode: vertical-lr;
}

.icon {
  @apply w-[16px] h-[16px] text-gray hover:text-secondary mb-4 transition hover:-translate-y-1;
}

.footer-link {
  @apply font-semibold text-sm transition text-white hover:text-secondary hover:underline underline-offset-1;
}

.moving-border:hover div {
  transform: translate(-0.5rem, -0.5rem);
}